@model DarkeyMiriam0.Models.CodeStatus

@{
    ViewBag.Title = "יצירת קוד סטטוס";
}

<table>
    <tr>
    <tr>
        <td><div style="height:30px;"></div></td>
    </tr>
    <tr>
        <td class="title">סטטוס חדש</td>
    <tr>
        <td><div style="height:30px;"></div></td>
    </tr>
</table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="width:550px;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="details">
           
           
            <tr>
                <td>
                    <h3>קוד</h3>
                </td>
                <td>
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "filterText" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    <h3>סטטוס</h3>
                </td>
                <td>
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "filterText" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>
    </div>
    <table style="margin-right:110px;">
        <tr>
            <td><div style="height:15px;"></div></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="צור" class="linkdetails" style="border-radius:1em;" />
            </td>
            <td><div style="width:30px;"></div></td>
            <td>
                @Html.ActionLink("חזור לרשימה", "Index", "CodeStatus", null, new { @class = "linkdetails" })
            </td>
        </tr>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

